extends layout

block content
  h1 #{ title }: #{ book.title }

  if book_instances.length
    p #[strong Delete the following book instances before attempting to delete this book.]

    div(style="margin-left: 20px; margin-top: 20px")
      h4 Book Instances

      dl
      each book_instance in book_instances
        a(href=book_instance.url)= book_instance.imprint

        p #[strong Status:]
          = " "
          if book_instance.status == 'Available'
            span.text-success #{ book_instance.status }
          else if book_instance.status == 'Maintenance'
            span.text-danger #{ book_instance.status }
          else
            span.text-warning #{ book_instance.status }

  else
    p Do you really want to delete this Book?

    form(method="POST", action="")
      .form-group
        input#bookid.form-control(
          type="hidden",
          name="bookid",
          required="true",
          value=book._id
        )

      button.btn.btn-primary(type="submit") Delete
